.fade-enter-active, .fade-leave-active
  transition all .33s
.fade-enter, .fade-leave-to
  opacity 0

.left-enter-active, .left-leave-active
  transition all .33s
.left-enter, .left-leave-to
  opacity 0
  transform translateX(-100%)

.bottom-enter-active, .bottom-leave-active
  transition all .33s
.bottom-enter, .bottom-leave-to
  opacity 0
  transform translateY(100%)
